<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<meta name="viewport" content="width=640"/>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<script src='/javascripts/jquery.js'></script>
	<script src='/javascripts/bootstrap.js'></script>
	<script src='/javascripts/mobile-util.js'></script>
</head>
<body>
	<div class="header">
		<div class="header-auto">
			<img src="/images/1.jpg" alt="" class="img1"/>
			<img src="/images/6.jpg" alt="" class="img6"/>
			<img src="/images/2.jpg" alt="" class="img2"/>
		</div>
	</div>
	
	
