<% include ./includes/header %>
<div class="xq">
	<div class="xq-auto">
		<div class="col-md-7">
			<img src="<%= movies.poster %>" alt="" class="img7" />
		</div>
		<div class="col-md-5">
			<div class="dl-horizontal">
				<dt>衣服：</dt>
				<dd>
					<%= movies.titles %>
				</dd>
				<dt>价格：</dt>
				<dd>
					<%= movies.director %>
				</dd>
				<dt>简介：</dt>
				<dd>
					<%= movies.summary %>
				</dd>
			</div>
		</div>
	</div>
</div>
</body>

</html>